.vscode/
src/direct_matching.py
src/test.py
src/stability.py
src/old_main.py
results/
src/*.json
__pycache__/
figures/
src/*.png

src/lunar_landing_test.py
src/lunar_landing_expert.py
src/episode_sampling.py
src/create_videos_from_data.py
src/plot_convergence_from_data.py
src/old_code/
src/bounded_lp_vs_dim_linear_quartic.py
src/cartpole.py
src/moment_matching_polished.py
src/plot_all_converged_costs.py
src/plot_costs_from_json.py
src/plot_costs_vs_convergence.py
src/visualization.py
src/bounded_lp_nonlinear.py
src/bounded_lp_sweep.py
src/bounded_lp_sweep_lqr.py
src/convergence_region_analysis.py
src/ploy_boundedness_heatmap.py
src/plot_boundedness_heatmap_nonlinear.py
src/moment_matching.py
src/policy_extraction.py
src/policy_extractor_polished.py
src/utils.py
src/feature_scaling.py

# Embedded git repository (separate project)
ADP_LP/

src/plot_*.py